.d{
    display: inline-block;
  }

.column {
  float: left;
  width: 20%;
 margin-top: 100px;
  margin-bottom: 30px;
  padding: 0 8px;
 
}

.column :hover{
  background-color: #28a745;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 

}

.title {
  color:rgb(255, 0, 126);

}
.name{ 
  background-color: lightgrey;
    color: rgb(255, 0, 126);

  padding: 7px;
 font-size: 30px;
  font-weight: bold;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(255, 0, 126);
}

#navbartitle{
    color: rgb(255, 0, 126);
 font-size: 23px;
  font-weight: bold;
 
}

 